<div class="container">
  <h1 class="mt-5"><%= t('title') %></h1>


    <div class="row">
      <% @posts.each do |post| %>
        <div class="col-12 mt-3">
          <div class="card">
            <div class="card-body">
              <div class="card-title">
                <%= link_to post.title, post, class: "h5 link-dark text-decoration-none" %>
              </div>
              <p class="card-text"><%= post.body %></p>
              <p class="text-muted small">
                <%= "#{t('like_count')}: #{post.likes.count}" %>
                <%= distance_of_time_in_words_to_now(post.created_at, highest_measure_only: true) %>
                <%= post.user.email %>

              </p>
            </div> 
          </div> 
        </div> 
      <% end %>
    </div>
</div>
