<div class="mt-4 mb-4">
  <%= link_to "Все статьи", posts_path, class: "mt-3" %> <span class="text-muted"> / <%= @post.category.name %></span>
</div>

<h1 class="mb-4"><%= @post.title %></h1>
<p class="mb-4"><%= @post.body %></p>

<%# <i class="fas fa-thumbs-up"></i>
<i class="far fa-thumbs-up"></i> %>


<% if user_signed_in? %>
  <% like = current_user.likes.find_by(post: @post) %> 
<% end %>

<div class="d-flex justify-content-between mt-5 mb-0" >
  <div><%= @post.user.email%> <%= distance_of_time_in_words_to_now(@post.created_at, true, highest_measure_only: true) %></div>
  <div class="d-flex">
    <div class="me-1" ><%= @post.likes.count %></div>
    
    <% if like.nil? %> 
      <% if user_signed_in?%>
        <div><%= link_to '', post_likes_path(@post), method: :post, class: "far fa-thumbs-up" %></div>
      <% else %>
        <div><i class="far fa-thumbs-up"></i></div>
      <% end %>
    <% else %>
      <% if user_signed_in?%>
        <div><%= link_to '', post_like_path(@post, like), method: :delete, class: "fas fa-thumbs-up" %></div>
      <% else %>
        <div><%= link_to '', class: "fas fa-thumbs-up" %></div>
      <% end %>
    <% end %>
  </div>
</div>


<%= render partial:'posts/comments/form', locals: {comment: @comment, url: post_comments_path(@post)}%>

<% @post.comments.each do |comment| %>
  <% next if comment.id.nil? %>
  <div class="card mb-4 mt-4">
    <div class="card-header small mb-2 d-flex">
      <div id="comment-41">
        <span class="font-weight-bold">
          <%= comment.user.email %>
        </span>
        <span class="mx-2 font-weight-light">
          <%= distance_of_time_in_words_to_now(comment.created_at) %>
        </span>
      </div>
    </div>
    <div class="card-body d-flex">
      <div class="w-100">
        <div class="mb-3">
          <%= comment.content %>
        </div>
        <div class="small">
        </div>
      </div>
    </div>
  </div>

<% end %>
