<!DOCTYPE html>
<html>
  <head>
    <title>CollectiveBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
    <%# <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> %> %>

  </head>


  <body>
    <div class="container">
      <%= render 'home/header' %>
      <% if flash.any? %>
        <% flash.each do |type, msg| %>
          <div class="alert alert-info alert-dismissible fade show" role="alert">
            <%= msg %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <% end %>
      <% end %>
      <%= yield %>
      <% render 'home/footer' %>
    </div>
  </body>

</html>
